@page "/"

<PageTitle>HOME</PageTitle>

<FluentCard Height="auto" Style="border: solid 0.5px var(--neutral-layer-1)">
    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center"
                 Style="height: 48px; padding-inline-end: 10px;">
        <FluentLabel Typo="Typography.H3">Repositório de Guias de Comando</FluentLabel>
    </FluentStack>
    <FluentLabel Typo="Typography.Body">
        Este repositório fornece guias básicos de comandos para diversas ferramentas e plataformas,
        incluindo <strong>Git</strong>, <strong>Hyper-V</strong>, <strong>PowerShell</strong>, <strong>SQL</strong> e <strong>Ubuntu</strong>.
        Cada guia está disponível como uma página dentro do aplicativo Blazor Web App para facilitar o acesso e a usabilidade.
        Para acessar a documentação completa, clone o repositório para sua máquina local e execute o aplicativo Blazor Web App.
        O aplicativo contém um índice que leva aos outros arquivos de guias correspondentes.

    </FluentLabel>
</FluentCard>

<FluentCard Height="auto" Style="border: solid 0.5px var(--neutral-layer-1)">
    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center"
                 Style="height: 48px; padding-inline-end: 10px;">
        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.Apps())" Color="@Color.Error" />
        <FluentLabel Typo="Typography.H4">
            Estrutura do Repositório
        </FluentLabel>
    </FluentStack>
    <ul>
        <li>
            <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                         VerticalAlignment="@VerticalAlignment.Center"
                         Style="height: 48px; padding-inline-end: 10px;">
                <FluentLabel Typo="Typography.H5">
                    O repositório está organizado nos seguintes arquivos:
                </FluentLabel>
            </FluentStack>
        </li>
        @foreach (var content in structureContents)
        {
            <li>
                <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                             VerticalAlignment="@VerticalAlignment.Center"
                             Style="height: 48px; padding-inline-end: 10px;">
                    <FluentIcon Value=@content.IconType ColorType=@content.ColorType />
                    <FluentLabel Typo="Typography.H6">
                        @content.Title
                    </FluentLabel>
                    <FluentNavLink Href="@content.Link" Target="_blank"><b>@content.Description</b></FluentNavLink>
                </FluentStack>
            </li>
            <FluentDivider></FluentDivider>
        }
    </ul>
</FluentCard>

<FluentCard Height="auto" Style="border: solid 0.5px var(--neutral-layer-1)">
    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center"
                 Style="height: 48px; padding-inline-end: 10px;">
        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.CheckmarkCircle())" Color="@Color.Error" />
        <FluentLabel Typo="Typography.H4">
            Como Usar
        </FluentLabel>
    </FluentStack>
    <ul>
        @foreach (var content in howUseContents)
        {
            <li>
                <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                             VerticalAlignment="@VerticalAlignment.Center"
                             Style="height: 48px; padding-inline-end: 10px;">
                    <FluentIcon Value=@content.IconType ColorType=@content.ColorType />
                    <FluentLabel Typo="Typography.H5">
                        @content.Title
                    </FluentLabel>
                </FluentStack>
                <ul>
                    <li>
                        <FluentLabel Typo="Typography.Body">
                            @content.Command
                        </FluentLabel>
                    </li>
                </ul>
                <FluentDivider></FluentDivider>
            </li>
        }
    </ul>
</FluentCard>

<FluentCard Height="auto" Style="border: solid 0.5px var(--neutral-layer-1)">
    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center"
                 Style="height: 48px; padding-inline-end: 10px;">
        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.ClipboardTextEdit())" Color="@Color.Warning" />
        <FluentLabel Typo="Typography.H4">
            Visão Geral dos Guias
        </FluentLabel>
    </FluentStack>

    @foreach (var guide in guides)
    {
        <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                     VerticalAlignment="@VerticalAlignment.Center"
                     Style="height: 48px; padding-inline-end: 10px; border: solid 1px var(--success)">
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size32.CheckmarkCircle())" Color="@Color.Success" />
            <FluentLabel Typo="Typography.H5">
                <FluentNavLink Href="@guide.Link" Target="_blank"> @guide.Title <b>@guide.LinkText</b>  </FluentNavLink>
            </FluentLabel>
        </FluentStack>
        <ul>
            <li>
                <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                             VerticalAlignment="@VerticalAlignment.Center"
                             Style="height: 48px; padding-inline-end: 10px;">
                    <FluentLabel Typo="Typography.H5">
                        Este guia inclui:
                    </FluentLabel>
                </FluentStack>
            </li>
            <FluentDivider></FluentDivider>
            @foreach (var content in guide.Contents)
            {
                <li>
                    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                                 VerticalAlignment="@VerticalAlignment.Center"
                                 Style="height: 48px; padding-inline-end: 10px;">
                        <FluentIcon Value=@content.IconType ColorType=@content.ColorType />
                        <FluentLabel Typo="Typography.H5">
                            @content.Title
                        </FluentLabel>
                    </FluentStack>
                    <FluentDivider></FluentDivider>
                </li>
            }
        </ul>
    }
</FluentCard>

<FluentCard Height="auto" Style="border: solid 0.5px var(--neutral-layer-1)">
    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center"
                 Style="height: 48px; padding-inline-end: 10px;">
        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.ApprovalsApp())" Color="@Color.Error" />
        <FluentLabel Typo="Typography.H4">
            Contribuindo
        </FluentLabel>
    </FluentStack>
    <FluentLabel Typo="Typography.Body">
        Contribuições são bem-vindas! Para sugerir alterações ou adicionar novos guias:
    </FluentLabel>
    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center"
                 Style="height: 48px; padding-inline-end: 10px;">
        <FluentLabel Typo="Typography.H5">
            Faça um fork do repositório.
        </FluentLabel>
    </FluentStack>
    <ul>
        @foreach (var content in guideForkContents)
        {
            <li>
                <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                             VerticalAlignment="@VerticalAlignment.Center"
                             Style="height: 48px; padding-inline-end: 10px;">
                    <FluentIcon Value=@content.IconType ColorType=@content.ColorType />
                    <FluentLabel Typo="Typography.H6">
                        @content.Title
                    </FluentLabel>
                </FluentStack>
                <ul>
                    <li>
                        <FluentLabel Typo="Typography.Body">
                            @content.Command
                        </FluentLabel>
                    </li>
                </ul>
                <FluentDivider></FluentDivider>
            </li>
        }
    </ul>
</FluentCard>

<FluentCard Height="auto" Style="border: solid 0.5px var(--neutral-layer-1)">
    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center"
                 Style="height: 48px; padding-inline-end: 10px;">
        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.ClipboardTextEdit())" Color="@Color.Warning" />
        <FluentLabel Typo="Typography.H4">
            Licença
        </FluentLabel>
    </FluentStack>
    <FluentLabel Typo="Typography.Body">
        Este repositório está licenciado sob a
        <FluentNavLink Href="https://github.com/Emersonmrbr/Commands/blob/main/LICENSE" Target="_blank">
            <b>LICENCE</b>
        </FluentNavLink>
        Sinta-se à vontade para usar, modificar e distribuir o conteúdo conforme necessário.
    </FluentLabel>

    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center"
                 Style="height: 48px; padding-inline-end: 10px;">
        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.Mail())" Color="@Color.Warning" />
        <FluentLabel Typo="Typography.H4">
            Contato
        </FluentLabel>
    </FluentStack>
    <FluentLabel Typo="Typography.Body">
        Para dúvidas ou feedback, abra uma issue no repositório ou entre em contato através do e-mail
        <FluentNavLink Href="mailto:emerson@nucleomap.com.br" Target="_blank">
            <b>emerson@nucleomap.com.br</b>
        </FluentNavLink>
    </FluentLabel>
</FluentCard>

@code {

    public class Content
    {
        public string Title { get; set; } = string.Empty;
        public string Command { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
        public string Link { get; set; } = string.Empty;
        public Icon IconType { get; set; } = new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.StoreMicrosoft();
        public Color ColorType { get; set; } = Color.Neutral;
    }

    public class Guide
    {
        public string Title { get; set; } = string.Empty;
        public string Link { get; set; } = string.Empty;
        public string LinkText { get; set; } = string.Empty;
        public List<Content> Contents { get; set; } = new();
    }

    List<Content> structureContents = new()
    {
        new (){Title="Git: Contém comandos básicos para usar o Git.",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Git",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Git",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
        new (){Title="Hyper-V: Inclui comandos específicos para gerenciar o Hyper-V através do PowerShell.",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/HyperV",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/HyperV",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
        new (){Title="PowerShell: Abrange comandos essenciais do PowerShell.",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Powershell",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Powershell",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
        new (){Title="SQL: Abrange comandos essenciais do SQL.",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Sql",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Sql",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
        new (){Title=" Ubuntu: Lista comandos comuns para trabalhar com o Ubuntu",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Ubuntu",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Ubuntu",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
        new (){Title="Terminal: Lista comandos comuns para trabalhar com o Terminal do Windows",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Terminal",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Terminal",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
    };

    List<Content> howUseContents = new()
    {
        new (){Title="Clone o repositório para sua máquina local:",Command ="git clone git@github.com:Emersonmrbr/Commands.git",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
        new (){Title="Navegue até o diretório do projeto:",Command ="cd Commands",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
        new (){Title="Execute o aplicativo Blazor Web App:",Command ="dotnet run",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Error},
    };


    List<Content> guideForkContents = new()
    {
        new (){Title="Crie uma nova branch:",Command="git checkout -b nova-branch",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
        new (){Title="Faça suas alterações e commit:",Command="git commit -m 'Descrição das alterações'",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
        new (){Title="Envie para sua branch:",Command="git push origin nova-branch",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
        new (){Title="Abra um pull request.",Command="Abra um pull request no GitHub",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
    };

    List<Guide> guides = new()
    {
        new Guide
        {
            Title = "Guia de Git",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Git",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Git",
            Contents = new List<Content>
            {
                new (){Title="Comandos básicos para configurar repositórios.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
                new (){Title="Gerenciamento de branches.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
                new (){Title="Estágio e commit de alterações.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
                new (){Title="Resolução de conflitos.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            }
        },
        new Guide
        {
            Title = "Guia de Hyper-V",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/HyperV",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/HyperV",
            Contents = new List<Content>  {
            new (){Title="Gerenciamento de máquinas virtuais (VMs).",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Configuração de redes.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Alocação de recursos para VMs",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            }

        },
        new Guide
        {
            Title = "Guia de PowerShell",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Powershell",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Powershell",
            Contents = new List<Content>  {
            new (){Title="Navegação e gerenciamento de arquivos.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Trabalhando com scripts.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Comandos de monitoramento do sistema.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            }
                },
          new Guide
        {
            Title = "Guia de SQL",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Sql",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Sql",
            Contents = new List<Content> {
            new (){Title="/sql/backuprestauracao",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/basico",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/consultainformacao",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/controleacesso",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/controletransacao",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/DDL",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/DML",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/exportacaoimportacao",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/JOIN",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="/sql/subconsultas",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            }
        },

        new Guide
        {
            Title = "Guia de Ubuntu",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Ubuntu",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Ubuntu",
            Contents = new List<Content>  {
            new (){Title="Gerenciamento básico de pacotes com apt",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Permissões de arquivos e gerenciamento de usuários.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Comandos de rede e monitoramento do sistema.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            }
        },
        new Guide
        {
            Title = "Guia do Terminal",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Terminal",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Terminal",
            Contents = new List<Content>  {
            new (){Title="Navegação e gerenciamento de arquivos.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Gerenciamento de processos.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Configuração de rede.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            new (){Title="Automatização de tarefas com scripts batch.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size32.Star(),ColorType=Color.Warning},
            }
        }
    };
}