@page "/"

<PageTitle>Home</PageTitle>

<h3>Repositório de Guias de Comandos</h3>
<p class="mb-8">
    Este repositório fornece guias básicos de comandos para diversas ferramentas e plataformas, incluindo
    <strong>Git</strong>, <strong>PowerShell</strong>,
    <strong>PowerShell Hyper-V</strong> e <strong>Ubuntu</strong>. Cada guia está disponível como um arquivo HTML
    separado para facilitar o acesso e a
    usabilidade. Para acessar a documentação completa, abra o arquivo <code>index.html</code> que está na raiz do
    repositório. Esse arquivo contém um índice
    que leva aos outros arquivos de guias correspondentes.
</p>

<h4>
    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.Apps())" Color="@Color.Error" />
    Estrutura do Repositório
</h4>
<ul>
    <li>
        <h5>O repositório está organizado nos seguintes arquivos:</h5>
    </li>
    @foreach (var content in structureContents)
    {
        <li>
            <FluentIcon Value=@content.IconType ColorType=@content.ColorType />
            @content.Title
            <ul>
                <li>
                    <FluentNavLink Href="@content.Link" Target="_blank">
                        @content.Description
                    </FluentNavLink>
                </li>
            </ul>
            <FluentDivider></FluentDivider>
        </li>
    }
</ul>

<h4>
    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.CheckmarkCircle())" Color="@Color.Error" />
    Como Usar
</h4>
<ul>
    @foreach (var content in howUseContents)
    {
        <li>
            <FluentIcon Value=@content.IconType ColorType=@content.ColorType />
            @content.Title
            <ul>
                <li>@content.Command</li>
            </ul>
            <FluentDivider></FluentDivider>
        </li>
    }
</ul>

<h4>
    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.ClipboardTextEdit())" Color="@Color.Warning" />
    Visão Geral dos Guias
</h4>

@foreach (var guide in guides)
{
    <h5>
        @guide.Title
        <FluentNavLink Href="@guide.Link" Target="_blank">
            <b>@guide.LinkText</b>
        </FluentNavLink>
    </h5>
    <ul>
        <li>Este guia inclui:</li>
        @foreach (var content in guide.Contents)
        {
            <li>
                <FluentIcon Value=@content.IconType ColorType=@content.ColorType />
                @content.Title
                <ul>
                    <li>@content.Command</li>
                </ul>
                <FluentDivider></FluentDivider>
            </li>
        }
    </ul>
}

<h4>
    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.ApprovalsApp())" Color="@Color.Error" />
    Contribuindo
</h4>
<p>Contribuições são bem-vindas! Para sugerir alterações ou adicionar novos guias:</p>
<h5>Faça um fork do repositório.</h5>
<ul>
    @foreach (var content in guideForkContents)
    {
        <li>
            <FluentIcon Value=@content.IconType ColorType=@content.ColorType />
            @content.Title
            <ul>
                <li>@content.Command</li>
            </ul>
            <FluentDivider></FluentDivider>
        </li>
    }
</ul>

<h4>
    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.ClipboardTextEdit())" Color="@Color.Warning" />
    Licença
</h4>
<p class="mb-8">
    Este repositório está licenciado sob a
    <FluentNavLink Href="https://github.com/Emersonmrbr/Commands/blob/main/LICENSE" Target="_blank">
        <b>LICENCE</b>
    </FluentNavLink>
    Sinta-se à vontade para usar, modificar e distribuir o conteúdo conforme necessário.
</p>

<h4>
    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size32.Mail())" Color="@Color.Warning" />
    Contato
</h4>
<p class="mb-8">
    Para dúvidas ou feedback, abra uma issue no repositório ou entre em contato através do e-mail
    <FluentNavLink Href="mailto:emerson@nucleomap.com.br" Target="_blank">
        <b>emerson@nucleomap.com.br</b>
    </FluentNavLink>
</p>

@code {

    public class Content
    {
        public string Title { get; set; } = string.Empty;
        public string Command { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
        public string Link { get; set; } = string.Empty;
        public Icon IconType { get; set; } = new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.StoreMicrosoft();
        public Color ColorType { get; set; } = Color.Neutral;
    }

    public class Guide
    {
        public string Title { get; set; } = string.Empty;
        public string Link { get; set; } = string.Empty;
        public string LinkText { get; set; } = string.Empty;
        public List<Content> Contents { get; set; } = new();
    }

    List<Content> structureContents = new()
    {
        new (){Title="Git: Contém comandos básicos para usar o Git.",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Git",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Git",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.Apps(),ColorType=Color.Error},
        new (){Title="PowerShell: Abrange comandos essenciais do PowerShell.",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Powershell",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Powershell",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.Apps(),ColorType=Color.Error},
        new (){Title="PowerShell Hyper-V: Inclui comandos específicos para gerenciar o Hyper-V através do PowerShell.",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/HyperV",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/HyperV",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.Apps(),ColorType=Color.Error},
        new (){Title=" Ubuntu: Lista comandos comuns para trabalhar com o Ubuntu",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Ubuntu",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Ubuntu",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.Apps(),ColorType=Color.Error},
        new (){Title="Terminal: Lista comandos comuns para trabalhar com o Terminal do Windows",Description ="github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Terminal",Link="https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Terminal",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.Apps(),ColorType=Color.Error},
    };

    List<Content> howUseContents = new()
    {
        new (){Title="Clone o repositório para sua máquina local:",Command ="git clone git@github.com:Emersonmrbr/Commands.git",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Error},
        new (){Title="Abra o arquivo HTML desejado em um navegador para visualizar o guia:",Command ="open index.html",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Error},
    };

    List<Content> guideForkContents = new()
    {
        new (){Title="Crie uma nova branch:",Command="git checkout -b nova-branch",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.ApprovalsApp(),ColorType=Color.Warning},
        new (){Title="Faça suas alterações e commit:",Command="git commit -m 'Descrição das alterações'",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.ApprovalsApp(),ColorType=Color.Warning},
        new (){Title="Envie para sua branch:",Command="git push origin nova-branch",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.ApprovalsApp(),ColorType=Color.Warning},
        new (){Title="Abra um pull request.",Command="Abra um pull request no GitHub",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.ApprovalsApp(),ColorType=Color.Warning},
    };

    List<Guide> guides = new()
    {
        new Guide
        {
            Title = "Guia de Git",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Git",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Git",
            Contents = new List<Content>
            {
                new (){Title="Comandos básicos para configurar repositórios.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.ClipboardTextEdit(),ColorType=Color.Warning},
                new (){Title="Gerenciamento de branches.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.ClipboardTextEdit(),ColorType=Color.Warning},
                new (){Title="Estágio e commit de alterações.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.ClipboardTextEdit(),ColorType=Color.Warning},
                new (){Title="Resolução de conflitos.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size20.ClipboardTextEdit(),ColorType=Color.Warning},
            }
        },
        new Guide
        {
            Title = "Guia de PowerShell",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Powershell",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Powershell",
            Contents = new List<Content>  {
            new (){Title="Navegação e gerenciamento de arquivos.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Trabalhando com scripts.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Comandos de monitoramento do sistema.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            }
        },
        new Guide
        {
            Title = "Guia de PowerShell Hyper-V",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/HyperV",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/HyperV",
            Contents = new List<Content>  {
            new (){Title="Gerenciamento de máquinas virtuais (VMs).",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Configuração de redes.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Alocação de recursos para VMs",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            }

        },
        new Guide
        {
            Title = "Guia de Ubuntu",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Ubuntu",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Ubuntu",
            Contents = new List<Content>  {
            new (){Title="Gerenciamento básico de pacotes com apt",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Permissões de arquivos e gerenciamento de usuários.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Comandos de rede e monitoramento do sistema.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            }
        },
        new Guide
        {
            Title = "Guia do Terminal",
            Link = "https://github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Terminal",
            LinkText = "github.com/Emersonmrbr/Commands/tree/main/Commands.Client/Pages/Terminal",
            Contents = new List<Content>  {
            new (){Title="Navegação e gerenciamento de arquivos.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Gerenciamento de processos.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Configuração de rede.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            new (){Title="Automatização de tarefas com scripts batch.",IconType=new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size16.CheckmarkCircle(),ColorType=Color.Warning},
            }
        }
    };
}